WA_ENGINE_PORT=3001
WA_ENGINE_API_KEY=change_me_same_as_server
WA_SESSION_DIR=/app/sessions
WA_AUTO_CONNECT=true
WA_SENDER_PHONE=6285649204151
WA_GROUP_JID_1=120363xxxxxxxx@g.us
WA_GROUP_JID_2=120363yyyyyyyy@g.us
